<div class="logo">
  <div class="logoContainer">
    <img *ngIf="!isMenuCollapsed" src="assets/images/logo-inverse.png" alt="" />
    <img *ngIf="isMenuCollapsed" src="assets/images/logo-inverse-mobile.png" alt="" />
  </div>
</div>
<div [ngClass]="isLightTheme ? 'navigation light' : 'navigation'">
  <ul nz-menu [nzTheme]="isLightTheme ? 'light' : 'dark'" [nzMode]="'horizontal'">
    <ng-container *ngTemplateOutlet="menuTpl; context: {$implicit: menuData}"></ng-container>
    <ng-template #menuTpl let-menuData>
      <ng-container *ngFor="let item of menuData">
        <li nz-menu-item (click)="toggleSettings()" *ngIf="item.key === 'settings'">
          <span>
            <span class="title">{{item.title}}</span>
            <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
          </span>
        </li>
        <li nz-menu-item *ngIf="item.url && item.target">
          <a href={{item.url}} target={{item.target}}>
            <span class="title">{{item.title}}</span>
            <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
          </a>
        </li>
        <ng-container *ngIf="item.divider">
          <li nz-menu-divider></li>
        </ng-container>
        <li nz-menu-item *ngIf="!item.children && item.url && !item.target" routerLink={{item.url}} [nzDisabled]="item.disabled">
          <span>
            <span class="title">{{item.title}}</span>
            <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
          </span>
        </li>
        <li nz-submenu *ngIf="item.children">
          <span title>
            <span class="title">{{item.title}}</span>
            <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
          </span>
          <ul>
            <ng-container *ngTemplateOutlet="menuTpl; context: {$implicit: item.children}"></ng-container>
          </ul>
        </li>
      </ng-container>
    </ng-template>
  </ul>
</div>