// Import mixins
@import 'assets/styles/mixins.scss';

/////////////////////////////////////////////////////////////////////////////////////////
/*  ANT DESIGN MENU */

.ant-menu-item {
  outline: none !important;
}

.ant-menu-horizontal.ant-menu-sub,
.ant-menu-vertical.ant-menu-sub,
.ant-menu-vertical-left.ant-menu-sub,
.ant-menu-vertical-right.ant-menu-sub {
  min-width: 160px;
}

.ant-menu-dark.ant-menu-submenu-popup {
  .ant-dropdown-menu-item-divider {
    opacity: 0.2;
  }
}
