<div class="topbar">
  <div class="mr-4">
    [IssuesHistory]
  </div>
  <div class="mr-4">
    [ProjectManagement]
  </div>
  <div class="mr-auto">
    [LiveSearch]
  </div>
  <a href="https://themeforest.net/user/mediatec_software" target="_blank" rel="noopener noreferrer" class="mr-4 d-none d-sm-inline">
    <button nz-button nzType="danger">
      Buy Now $28
    </button>
  </a>
  <div class="mr-4">
    [Bitcoin Price]
  </div>
  <div class="mr-4">
    [L]
  </div>
  <div class="mr-4">
    [H]
  </div>
  [P]
</div>