<nz-layout>
  <nz-content>
    <div class="layout">
      <div class="header">
        <div class="row">
          <div class="col-lg-12">
            <div class="logo">
              <a href routerLink="/">
                <img src="assets/images/logo.png" alt="Clean UI Angular Admin Template" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <div class="footer text-center">
        <ul class="list-unstyled list-inline mb-3">
          <li class="list-inline-item">
            <a href="javascript: void(0);">Terms of Use</a>
          </li>
          <li class="active list-inline-item">
            <a href="javascript: void(0);">Compliance</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);">Confidential Information</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);">Support</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);">Contacts</a>
          </li>
        </ul>
        <p>&copy; 2019 Mediatec. All rights reserved.</p>
      </div>
    </div>
  </nz-content>
</nz-layout>