@import 'src/assets/styles/mixins.scss';

.cui-avatar {
  width: rem(35);
  height: rem(35);
  background-color: $gray-lighten;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.avatar--size20 {
  width: rem(20);
  height: rem(20);
}

.cui-avatar-size-25 {
  width: rem(25);
  height: rem(25);
}

.cui-avatar-size-50 {
  width: rem(50);
  height: rem(50);
}

.cui-avatar-size-70 {
  width: rem(70);
  height: rem(70);
}

.cui-avatar-size-90 {
  width: rem(90);
  height: rem(90);
}

.cui-avatar-size-110 {
  width: rem(110);
  height: rem(110);
}

.cui-avatar-bordered {
  border: 4px solid $gray;
}
