<div class="title">
  <h1>
    <strong>WELCOME TO CLEAN UI ADMIN TEMPLATES</strong>
  </h1>
  <p>
    Pluggable enterprise-level react application framework.
    <br />
    An excellent front-end solution for web applications built upon Ant Design and UmiJS.
    <br />
    Credentials for testing purposes - <strong>admin@mediatec.org</strong> /
    <strong>cleanui</strong>
  </p>
</div>
<div class="block">
  <div class="row">
    <div class="col-xl-12">
      <div class="inner">
        <div class="form">
          <h4 class="text-uppercase">
            <strong>Please log in</strong>
          </h4>
          <br />
          <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-label nzFor="email">Email</nz-form-label>
              <nz-form-control>
                <input nz-input id="email" formControlName="email">
                <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">
                  Please input your e-mail address
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="password">Password</nz-form-label>
              <nz-form-control>
                <input type="password" nz-input id="password" formControlName="password">
                <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
                  Please input your e-mail address
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <div className="mb-2">
              <a href routerLink="/user/forgot" class="utils__link--blue utils__link--underlined">
                Forgot Password
              </a>
            </div>
            <div class="form-actions">
              <button nz-button nzType="primary" class="width-150 mr-4">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>