<nz-layout>
  <nz-back-top></nz-back-top>
  <nz-sider [ngClass]="isLightTheme ? 'sider light' : 'sider'" nzCollapsible="true" [nzBreakpoint]="'lg'" [nzWidth]="256"
    [nzCollapsed]="isCollapsed" (nzCollapsedChange)="onCollapse($event)">
    <cui-menu></cui-menu>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <cui-topbar></cui-topbar>
    </nz-header>
    <nz-content style="height: 100%; position: relative;">
      <div>Breadcrumbs</div>
      <div class="utils__content">
        <button (click)="toggleTheme()">Toggle Theme</button>
        <button (click)="toggleCollapsed()">Toggle Collapsed</button>
        <br />
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <cui-footer></cui-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>