<nz-layout [ngClass]="{
    'settings__borderLess': isBorderless,
    'settings__squaredBorders': isSquaredBorders,
    'settings__fixedWidth': isFixedWidth,
    'settings__menuShadow': isMenuShadow
  }">
  <nz-back-top></nz-back-top>
  <nz-sider *ngIf="!isMobileView && !isMenuTop" [ngClass]="isLightTheme ? 'sider light' : 'sider'" nzCollapsible [nzWidth]="256" [(nzCollapsed)]="isMenuCollapsed"
    (nzCollapsedChange)="onCollapse($event)">
    <cui-menu [isMenuCollapsed]="isMenuCollapsed"></cui-menu>
  </nz-sider>
  <nz-sider *ngIf="isMobileView && !isMenuTop" [ngClass]="isLightTheme ? 'sider light' : 'sider'" [nzWidth]="256">
    <cui-menu [isMenuCollapsed]="false"></cui-menu>
  </nz-sider>
  <div *ngIf="isMenuTop">
    MenuTop
  </div>
  <cui-settings></cui-settings>
  <nz-layout>
    <nz-header>
      <cui-topbar></cui-topbar>
    </nz-header>
    <nz-content style="height: 100%; position: relative;">
      <cui-breadcrumbs></cui-breadcrumbs>
      <div class="utils__content">
        <button (click)="toggleTheme()">Toggle Theme</button>
        <button (click)="toggleCollapsed()">Toggle Collapsed</button>
        <br />
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <cui-footer></cui-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>